.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);

  .wrap {
    position: relative;
    max-width: 1450px;
    height: 100%;
    margin: 0 auto;

    .logo {
      display: flex;
      align-items: center;
      position: absolute;
      width: 10rem;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);

      img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
    }

    .callToActions {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);

      ul, li {
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        margin-right: 1.5rem;
        list-style: none;

        &:last-child{
          margin-right: 0;
        }

        a {
          font-size: 1.8rem;
          line-height: 1;
          color: #000;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
